<footer class="site-footer">

  <div class="wrapper">
    <div class="partner-logos">
      <h3> Marianne Angeline Igna - student project </h3>
      <h3> Not an official audio guide! </h3>
      <a href="https://qm.org.qa/en/" target="_blank">
        <img class="logo" src="{{ site.baseurl }}/assets/img/logo/qm.png"/>
      </a>
      <a href="https://mathaf.org.qa/en/" target="_blank">
        <img class="logo" src="{{ site.baseurl }}/assets/img/logo/mathaf-logo.jpg"/>
      </a>
    </div>
    <div class="language-selector-container">
      <label for="lang-selector" style="color: #666; font-size: 14px; margin-right: 10px;">Language:</label>
      <select id="lang-selector">
        <option value="en">English</option>
        <option value="ar">العربية</option>
      </select>
    </div>
  </div>
</footer>
