<footer class="site-footer">
  <div class="wrapper">
    <div class="partner-logos">
      <div class="footer-top-row">
        <h3>Marianne Angeline Igna - student project</h3>

        <div class="language-selector-container">
          <label for="lang-selector">Language:</label>

          <select id="lang-selector">
            <option value="en">English</option>
            <option value="ar">العربية</option>
          </select>
        </div>
      </div>

      <h3>Not an official audio guide!</h3>

      <div class="footer-logos">
        <a href="https://qm.org.qa/en/" target="_blank" rel="noopener noreferrer">
          <img class="logo" src="{{ site.baseurl }}/assets/img/logo/qm.png" alt="Qatar Museums">
        </a>

        <a href="https://mathaf.org.qa/en/" target="_blank" rel="noopener noreferrer">
          <img class="logo" src="{{ site.baseurl }}/assets/img/logo/mathaf-logo.jpg" alt="Mathaf">
        </a>
      </div>
    </div>
  </div>
</footer>
